* {
	font-family: 'Audiowide', cursive;
	text-align: center;
}

/*got header in a good spot*/
header {
	width: 100%;
	margin-top: 50px;
}

/*formats waveracer words*/
h1 {
	color: #FF1493;
	font-size: 100px;
	letter-spacing: 12px;
	margin-top: 190px;
	margin-bottom: 0px;
	text-shadow: 2px 2px black;
}

/* here is a fun waveracer remix that inspired this game https://www.youtube.com/watch?v=XoIzDKpuIUI */

/*formats game tagline*/
p {
	font-size: 20px;
	color: #7CFC00;
	text-shadow: 2px 2px black;
	margin-top: 0px;
	margin-bottom: 100px;
	padding-bottom: 10px;
	letter-spacing: 1px;
}

/*sets background image for landing page*/
body {
	background-image: url("https://i.ytimg.com/vi/bmmrwD0YCdY/maxresdefault.jpg");
	background-size: cover;
}

/*formats PLAY button that leads to the game page*/
#play-game {
	font-size: 40px;
	font-family: 'Audiowide', cursive;
}