/*set all fonts to audiowide*/

* {
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
}

/*set up page background*/
body {
  background-image: url("https://images6.alphacoders.com/516/516933.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*style for waveracer game page heading*/
h1 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 5px;
  color: #FF1493;
  font-family: 'Audiowide', cursive;
  margin-top: 50px;
  margin-bottom: 0px;
  text-shadow: 2px 2px black;
  padding: 10px;
  
}

/*set styling for the DOLPHIN / SHARK directions buttons*/
a {
  text-align: center;
  font-size: 20px;
  color: #8B4513;
  text-shadow: 2px 2px black;
  font-family: 'Audiowide', cursive;
}

/*sets up the yellow line in which you race*/
.race {
  border-left: 7px dashed yellow;
  border-right: 7px dashed yellow;
  width: 900px;
  margin: auto;
}

/* sets up position where WORDS for players are on the page*/
.playerA {
  float: left;
  margin-left: 300px;
  color: yellow;
  font-size: 18px;
  font-family: 'Audiowide', cursive;
}

.playerB {
  float: right;
  margin-right: 300px;
  color: yellow;
  font-size: 18px;
  font-family: 'Audiowide', cursive;
}

/*reset button styling*/
.button {
  display: block;
  text-align: center; 
}

button {
  font-size: 24px;
}

/*makes dolphin graphic look pretty*/
.dolphindiv {
  background-image: url(dolphin.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 267px;
}

/*makes shark graphic look pretty*/
.sharkdiv {
  background-image: url(shark.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 177px;
  margin-bottom: 5px;
}